@use "../utils/" as u;

@include u.breakpoint("tablet") {
   .card-section {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
         "card1 card1 card2"
         "card3 card4 card4"
         "card5 card5 card5";
   }

   [class|="card"] {
      max-width: unset;
   }

   @for $i from 1 to 6 {
      [class|="card"]:nth-child(#{$i}) {
         grid-area: card#{$i};
      }
   }
}

@include u.breakpoint("desktop") {
   .card-section {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas:
         "card1 card1 card2 card5"
         "card3 card4 card4 card5";
      max-width: 91.46rem;
   }
}
